{% extends 'recipe/base.html' %}
{% block style %}
<style>
    #ddr-container {
        width: 60vw;
        box-shadow: 0 2px 4px rgba(0, 1, 1, 0.7);
        align-items: center;
        background-color: #e9e9e9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
        padding-top: 10px;
    }

    .password {
        box-shadow: 0 2px 4px rgba(0, 1, 1, 0.7);
        width: 100%;
        margin: 20px;
        background: #fff;
        transform: scale(80%);
        line-height: 30px;
        font-size: 18px;
    }

    .lable {
        width: 80%;
        margin: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .helptext {
        width: 50%;
    }
</style>
{% endblock %}
{% block body %}
{% if msg %}
<h2>{{msg}}</h2>
{% else %}
<h2>Please Enter your new Password</h2>
<div class="hey"></div>
{% endif %}
<div class="input" id="ddr-container">
    <form action="{% url 'change-password' user %}" method="POST">
        {% csrf_token %}
        <label class="lable" for="password1">New Password
            <input class="password" type="password" name="password1" id="pass1"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                required>
        </label>
        <span class="helptext">
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </span>
        <label class="lable" for="password2">Re-enter your new password
            <input class="password" type="password" name="password2" required>
        </label>
        <input type="submit">
    </form>
</div>


{% endblock %}