{% extends 'recipe/base.html' %}

{% block body %}

	<div class="card">
		<div class="card-body">
		<h3 class=" text-center">Login to Your Account!</h3>
		<form action="" method="POST">
			{% csrf_token %}
			<label>Username</label>
			<input type="text" placeholder="Enter Your Username" name="username">
			<label>Password</label>
			<input type="password" placeholder="Enter Your Password"  name="password">
			<br>
			<input  type="submit" value="Login" class="btn">
			{% if error %}
			<i style="color:red;">{{ error }}</i>
			{% endif %}
			
		</form>
		
		</div>
	</div >


{% endblock %}   