{% extends 'recipe/base.html' %}

{% block style %}
<style>
.containerbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .multy {
    display: none;
  }
  
  .btns {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 400px;
    margin: 10px;
  }
  .btns #reload {
    margin-left: 3rem;
    display: none;
  }
  .btns .times-x {
    width: 80%;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  button {
    width: 50px;
    height: 30px;
    background-color: bisque;
    color: #000;
    border-radius: 5px;
    border: 1px solid #fab62d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    margin: 5px;
    font-size: 17px;
    overflow: none;
    font-weight: bold;
  }
</style>
{% endblock %}

{% block body %}
        {% for d in data %} 
        <div class="recipe">
            <h3 id="title">{{d.title}}</h3>
             
             <ul class="original">
                {% for i in ing %}
                 <li>{{i}}</li>
                {% endfor %}
             </ul>
             {% if user.is_staff %}
             <a href="{% url 'delete' d.title %}"  id="original">Delete Recipe</a>
             {% endif %}
         </div>
         <br>
         <h3>Multiply recipe by:</h3>
         <div class="btns">
             <button value="1" id="reload">x 1 </button>
             <div class="times-x">
             <button value="1.5"> x 1 ½ </button>
             <button value="2" > x 2 </button>
             <button value="3">x 3 </button>
             <button value="4">x 4 </button>
            </div>
         </div>
       
         <div class="method">
             <h3>Method</h3>
             <p>{{d.method}}</p>
             <p><a href="{% url 'index' %}">Return Back</a></p>
         </div>
         
         {% endfor %}

         <script>
             const data = document.querySelector('.recipe')
let dataText = []
const i = data.innerText.split('\n')
const btns = document.querySelectorAll('button') 

btns.forEach((btn) => {

   btn.addEventListener('click', ()=>{
           const times = btn.value
           console.log(times)
       if (times === '1') {
           window.location.reload(true)
           return false
       } else {
           i.forEach((e) => {
               var num = e.split(/\s+/)

               num.forEach((b) => {
                   if(isNaN(b)){

                   } else {
                   let c = b * times
                   const tmp = num[0]
                   num[0] = Math.floor(c)
                                           
                   }
                   
                   
               })
                       e = num
                       const tmp = e.join(' ')
                       
                       //console.log(tmp)
                       const li = document.createElement('li')
                       const original = document.querySelector('.original')
                      // const linkOriginal = document.getElementById('original')
                       li.style.display = 'block'
                       dataText.push(li)
                       if (tmp === '0') {
                           li.innerHTML = ''
                           
                       } else  {
                           
                           
                           
                           original.style.display = 'none'
                          // linkOriginal.style.display = 'none'
                           document.getElementById('title').style.display = 'none'

                           li.innerHTML =`${tmp}`
                           console.log(tmp[0][0])
                       }
                       data.appendChild(li)
                       document.querySelector('.times-x').style.display = 'none'
                       document.getElementById('reload').style.display = 'block'

       })}

   })
   
})


         </script>
{% endblock %}   