.containerbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.multy {
  display: none;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 400px;
  margin: 10px;
}
.btns #reload {
  margin-left: 3rem;
  display: none;
}
.btns .times-x {
  width: 80%;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  width: 50px;
  height: 30px;
  background-color: bisque;
  color: #000;
  border-radius: 5px;
  border: 1px solid #fab62d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  margin: 5px;
  font-size: 17px;
  overflow: none;
  font-weight: bold;
}
